{% extends "base.html" %}

{% block title %}Calendrier Global{% endblock %}

{% block content %}
<h1>Calendrier Global</h1>
<table>
    <thead>
        <tr>
            <th>Tâche</th>
            <th>Attribué à</th>
            <th>Date Début</th>
            <th>Date Fin</th>
        </tr>
    </thead>
    <tbody>
        {% for title, start_date, end_date, assigned_to in events %}
        <tr>
            <td>{{ title }}</td>
            <td>{{ assigned_to }}</td>
            <td>{{ start_date }}</td>
            <td>{{ end_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
