{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<div class="action-buttons">
    <button onclick="location.href='/add_tasks'" class="general">Ajouter des Tâches</button>
    <button onclick="location.href='/all_tasks'" class="general">Voir toutes les Tâches</button>
</div>

<div class="container">
    <h2>Tâches Urgentes</h2>
    {% for person, tasks in priorities.items() %}
    <div>
        <h3>{{ person }}</h3>
        <ul class="task-list">
            {% for task_id, title, end_date in tasks %}
            <li class="task-item {% if end_date < today %}overdue{% endif %}">
                <span>{{ title }} (Deadline : {{ end_date }})</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<div class="container">
    <h2>Calendrier du Mois Prochain</h2>
    <ul>
        {% for title, start_date, end_date, assigned_to in next_month_events %}
        <li>{{ start_date }} - {{ title }} (Attribué à : {{ assigned_to }})</li>
        {% endfor %}
    </ul>
    <button onclick="location.href='/calendar'" class="general">Voir le Calendrier Global</button>
</div>
{% endblock %}
